@model IEnumerable<ProyectoTesis.Models.Movement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zone.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovementType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoxUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FractionUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zone.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovementType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoxUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FractionUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
