<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <!-- Navigation -->
    <div class="navbar sidebar navbar-right" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa-fw"></i> Inicio</a>
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#compras" class="collapsable"><i class="fa fa-shopping-bag fa-fw" ></i> Compras <span class="fa open"></span></a>
                    <ul id="compras" class="nav nav-second-level collapse in">
                        <li>@Html.ActionLink("Mantenimiento de Proveedores", "Index", "Supplier")</li>
                        <li>@Html.ActionLink("Orden de Compra", "Index", "PurchaseOrder")</li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#gestioninterna" class="collapsable"><i class="fa fa-gears fa-fw"></i> Gestión Interna<span class="fa open"></span></a>
                    <ul id="gestioninterna" class="nav nav-second-level collapse in">
                        <li>@Html.ActionLink("Mantenimiento de Tiendas", "Index", "Store")</li>
                        <li>@Html.ActionLink("Mantenimiento de Almacenes", "Index", "Stockroom")</li>
                        <li>@Html.ActionLink("Mantenimiento de Productos", "Index", "Product")</li>
                        <li>@Html.ActionLink("Movimientos de Almacén", "Index", "Movement")</li>
                        <li>@Html.ActionLink("Despachos", "Index", "Dispatch")</li>
                        <li>@Html.ActionLink("Planeamiento de Compra", "Index", "PurchasePlan")</li>
                        <li>@Html.ActionLink("Mantenimiento de Usuarios", "Index", "User")</li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#ventas" class="collapsable"><i class="fa fa-money fa-fw"></i> Ventas<span class="fa open"></span></a>
                    <ul id="ventas" class="nav nav-second-level collapse in">
                        <li>@Html.ActionLink("Mantenimiento de Clientes", "Index", "Client")</li>
                        <li>@Html.ActionLink("Devoluciones", "Index", "Return")</li>
                        <li>@Html.ActionLink("Pedidos", "Index", "Order")</li>
                        <li>
                            <a data-toggle="collapse" data-target="#documentos" class="collapsable">Documentos de Venta <span class="fa open"></span></a>
                            <ul id="documentos" class="nav nav-third-level  collapse in">
                                <li>@Html.ActionLink("Facturas", "Bill", "SaleDocument")</li>
                                <li>@Html.ActionLink("Boletas", "Ticket", "SaleDocument")</li>
                                <li>@Html.ActionLink("Notas de Crédito", "CreditNote", "SaleDocument")</li>                                
                            </ul>

                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#reportes" class="collapsable"><i class="fa fa-line-chart fa-fw"></i> Reportes<span class="fa open"></span></a>
                    <ul id="reportes" class="nav nav-second-level collapse in">
                        <li>
                            <a href="#">Kardex</a>
                        </li>
                        <li>@Html.ActionLink("Guía de Remisión", "Index", "ReferralGuide")</li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#ajustes" class="collapsable"><i class="fa fa-gears fa-fw"></i> Ajustes<span class="fa open"></span></a>
                    <ul id="ajustes" class="nav nav-second-level collapse in">
                        <li>@Html.ActionLink("Correlativos", "Index", "Correlative")</li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script type="text/javascript">
        $(document).ready(function () {
            $('.collapsable').click(function (e) {
                $('#compras').collapse('hide');
                $('#gestioninterna').collapse('hide');
                $('#ventas').collapse('hide');
                $('#documentos').collapse('hide');
                $('#reportes').collapse('hide');
                $('#ajustes').collapse('hide');
                $('ul').next.collapse('show');            
            });
        });
    </script>*@
}



