@model ProyectoTesis.Models.OrderDetail

@{
    ViewBag.Title = "Detalle de Pedido - Eliminar";
}

<h2>Eliminar Detalle de Pedido</h2>

<h3>¿Está seguro de que desea eliminar este detalle de pedido?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FractionUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FractionUnits)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index", new { OrderID = ViewBag.Order })
        </div>
    }
</div>
