@model ProyectoTesis.Models.OrderDetail

@{
    ViewBag.Title = "Detalle de Pedido";
}

<h2>Detalle de pedido</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FractionUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FractionUnits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID, OrderID = ViewBag.Order }) |
    @Html.ActionLink("Regresar", "Index", new { OrderID = ViewBag.Order })
</p>
