@model IEnumerable<ProyectoTesis.Models.OrderDetail>

@{
    ViewBag.Title = "Detalle de Pedido";
}

<h2>Detalles de Pedido</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", new { OrderID = ViewBag.Order })
</p>
<table class="table">
    <tr>
        <th>Nro de Pedido</th>
        <th>Producto</th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            <a href="@Url.Action("Index", "OrderDetail", new { OrderID = item.ID })"><i class="fa fa-list"></i></a> |
            <a href="@Url.Action("Edit", "OrderDetail", new { id = item.ID, OrderID = ViewBag.Order })"><i class="fa fa-pencil"></i></a> |
            <a href="@Url.Action("Details", "OrderDetail", new { id = item.ID, OrderID = ViewBag.Order})"><i class="fa fa-eye"></i></a> |
            <a href="@Url.Action("Delete", "OrderDetail", new { id = item.ID, OrderID = ViewBag.Order})"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar", "Index", "Order")
</div>