@model IEnumerable<ProyectoTesis.Models.PurchaseOrder>

@{
    ViewBag.Title = "Orden de compra";
}

<h2>Órdenes de Compra</h2>

<p>
   @Html.ActionLink("Nueva", "Create")
</p>

@*<button type="button" class="btn" data-toggle="modal" data-target="#newOrderModal">Open Modal</button>
*@
<table class="table">
    <tr>
        <th>Proveedor</th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>Total</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            <a href="@Url.Action("Index", "PurchaseOrderDetail", new { PurchaseOrderID = item.ID })"><i class="fa fa-list"></i></a> |
            <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fa fa-pencil"></i></a> |
            <a href="@Url.Action("Detail", new { id = item.ID })"><i class="fa fa-eye"></i></a> |
            <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>

