@model IEnumerable<ProyectoTesis.Models.SaleDocument>

@{
    ViewBag.Title = "Boletas de Venta";
}

<h2>Boletas de Venta</h2>

<table class="table">
    <tr>
        <th>Boleta</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Total</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber) -
            @Html.DisplayFor(modelItem => item.CorrelativeToShow)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Client.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
    </tr>
}

</table>
