@model ProyectoTesis.Models.PurchasePlan

@{
    ViewBag.Title = "Plan de Compra - Detalle";
}

<h2>Detalle de Plan de Compra</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Investment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Investment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
