@model ProyectoTesis.Models.PurchasePlan
    @using ProyectoTesis.Models

@{
    ViewBag.Title = "Plan de Compra - Detalle";
}

<h2>Detalle de Plan de Compra</h2>

<table class="table">
    <tr>
        <th>
            Producto
        </th>
        <th>
            Cajas
        </th>
        <th>
            Fracciones
        </th>
        <th>
            Beneficio
        </th>
        <th></th>
    </tr>

    @foreach (var item in (List<PurchasePlanDetail>)ViewBag.Details)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FractionUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benefit)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Regresar", "Index")
</p>
