@model IEnumerable<ProyectoTesis.Models.PurchasePlan>

@{
    ViewBag.Title = "Plan de Compra";
}

<h2>Planes de Compra</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Investment)
        </td>
        <td>
            <a href="@Url.Action("Edit", "PurchaseOrderDetail", new { id = item.ID, PurchaseOrderID = ViewBag.PurchaseOrder })"><i class="fa fa-pencil"></i></a> |
            <a href="@Url.Action("Details", "PurchaseOrderDetail", new { id = item.ID, PurchaseOrderID = ViewBag.PurchaseOrder})"><i class="fa fa-eye"></i></a> |
            <a href="@Url.Action("Delete", "PurchaseOrderDetail", new { id = item.ID, PurchaseOrderID = ViewBag.PurchaseOrder})"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>
