
@{
    ViewBag.Title = "Data Histórica";
}

<h2>Data Histórica</h2>

@Html.ActionLink("Cargar Productos", "ChargeProduct")
@Html.ActionLink("Cargar Codigos anteriores", "ChargePreviousCode")
@Html.ActionLink("Cargar Peso de Productos", "ChargeWeight")
@Html.ActionLink("Cargar Movimientos", "ChargeMovements")
@Html.ActionLink("Cargar Peso de Productos", "ChargeWeights")

