@model IEnumerable<ProyectoTesis.Models.ExpirationTime>

@{
    ViewBag.Title = "Index";
}

<h2>Tiempo de Expiración</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Months)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Months)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fa fa-pencil"></i></a>
        </td>
    </tr>
}

</table>
