@model IEnumerable<ProyectoTesis.Models.Supplier>

@{
    ViewBag.Title = "Mantenimiento de Proveedores";
}

<h2>Mantenimiento de Proveedores</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ruc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ruc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fa fa-pencil"></i></a> |
            <a href="@Url.Action("Details", new { id = item.ID })"><i class="fa fa-eye"></i></a> |
            <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>
