@model ProyectoTesis.Models.Order

@{
    ViewBag.Title = "Pedido - Eliminación";
}

<h2>Eliminación de Pedido</h2>

<h3>¿Está seguro de que desea eliminar este pedido?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>

        <dt>
            Usuario que registró el pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveredFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveredFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveFlag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
