@model IEnumerable<ProyectoTesis.Models.Order>

@{
    ViewBag.Title = "Pedidos";
}

<h2>Pedidos</h2>

<div>
    <div class="pull-left">
        <p>
            @Html.ActionLink("Nuevo", "Create")
        </p>
    </div>
    <div class="pull-right">
        <input value="Generar Boletas" class="btn btn-link" id="ticket" />
        <input value="Generar Facturas" class="btn btn-link" id="bill" />
    </div>
</div>
<table class="table">
    <tr>
        <th><input type="checkbox" id="checkAll" /></th>
        <th>Nro de Pedido</th>
        <th>
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Total
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveredFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.DeliveredFlag != true)
            {
                <input type="checkbox" class="checkBox" value="@item.ID" />
            }
            @*else
            {
                <input type="checkbox" class="checkBox" value="@item.ID" disabled="disabled"/>
            }*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>        
        <td>
            @if (item.DeliveredFlag == true)
            {
                <label>Sí</label>
            }
            else
            {
                <label>No</label>
            }
        </td>
        <td>
            @if (item.ActiveFlag == true)
            {
                <label>Sí</label>
            }
            else
            {
                <label>No</label>
            }
        </td>
        <td>
            <a href="@Url.Action("Index", "OrderDetail", new { OrderID = item.ID })"><i class="fa fa-list"></i></a> 
            @if (item.DeliveredFlag != true)
            {
                <a href="@Url.Action("Edit", new { id = item.ID })"> | <i class="fa fa-pencil"></i></a> 
            }           
            <a href="@Url.Action("Details", new { id = item.ID })"> | <i class="fa fa-eye"></i></a> 
            @if (item.DeliveredFlag != true)
            {
                <a href="@Url.Action("Delete", new { id = item.ID })"> | <i class="fa fa-trash"></i></a>
            }
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {

            $("#checkAll").click(function () {
                $(".checkBox").prop('checked',
                    $(this).prop('checked'));
            });

            $("#ticket").click(function () {
                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });

                $.ajax(
                    {
                        type: "POST",   
                        url: "/Order/createTickets", 
                        data: {
                            tickets: selectedIDs
                        }, function (result) {
                        window.location.href = "/Order/Index";
                    }
                        
                    }); 
            });

            $("#bill").click(function () {
                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });

                $.ajax(
                    {
                        type: "POST",
                        url: "/Order/createBills",
                        data: {
                            bills: selectedIDs
                        }, function(result) {
                            window.location.href = "/Order/Index";
                        }

                    });
                
            });
        });
    </script>
}

