@model PagedList.IPagedList<ProyectoTesis.Models.Product>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Mantenimiento de Productos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        Buscar: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Descripción", "Index", new { sortOrder = ViewBag.DescriptionSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Stock Lógico
        </th>
        <th>
            Precio de Caja
        </th>
        <th>
            Precio de Fracción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogicalStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoxPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FractionPrice)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fa fa-pencil"></i></a> |
            <a href="@Url.Action("Details", new { id = item.ID })"><i class="fa fa-eye"></i></a> |
            <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>

<br/>
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))