@model IEnumerable<ProyectoTesis.Models.Correlative>

@{
    ViewBag.Title = "Correlativos";
}

<h2>Correlativos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tienda
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrelativeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrelativeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentType)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fa fa-pencil"></i></a> |
            <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>
