@model ProyectoTesis.Models.Zone

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Está seguro que desea eliminar esta zona?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Almacén
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stockroom.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
