@model ProyectoTesis.Models.Zone

@{
    ViewBag.Title = "Zona - Detalle";
}

<h2>Details</h2>

<div>
    <h4>Zone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Almacén
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stockroom.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
